<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true">

    <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->

    <!--
  Logging to SEQ cloud service requires an NLog extension.
  SEQ log target is in NuGet package "NLog.Targets.Seq"
  Note that the API key defined in the <target> section is unique to this application.
  -->

    <extensions>
        <add assembly="NLog.Targets.Commom"/>
    </extensions>


    <targets>
        <target name="tracelogfile" xsi:type="File" fileName="log/trace-${shortdate}.log" />
        <target name="errorlogfile" xsi:type="File" fileName="log/error-${shortdate}.log" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="tracelogfile" />
        <logger name="*" minlevel="Error" writeTo="errorlogfile" />
    </rules>
</nlog>